<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="/static/index.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&family=Playfair+Display:wght@400;900&family=Raleway:wght@300&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
	<input id="team1" type="hidden" value="{{team1}}">
	<input id="team2" type="hidden" value="{{team2}}">
	<div class="columns">
		<div class="column left-team">
			<h1 class="team-name">{{team1.upper()}}</h1>
			<h2 class="score"><span class="fouls" id="team1-fouls">0</span><span id="team1-score" class="score">0</span></h2>
			{% for i in members_1 %}
				<div class="member-wrapper columns" style="padding : 0 !important" id="{{i}}">
					<div class="to-right column" style="padding:0 !important">
						<span onclick="modify_for(this)" style="color:var(--primary)">+F</span>
						{% for i in possible_scores %}
						<span onclick="modify_for(this)">+{{i}}</span>
						{% endfor %}
					</div>
					 <div class="column is-5" style="padding : 0 !important">
						<p class="members" id="{{i}}-name" onclick="manageMembers(this.textContent)">{{i}}</p>
					</div>
					<div class="column is-1 left-team" style="padding : 0 !important">
						<p id="{{i}}-score"class="personal-stats">0</p>
						<p id="{{i}}-fouls"class="personal-stats foul-color" style="font-size: 0.9rem">0</p>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="column">
			<div class="columns is-multiline">
				<div class="column is-12 timer"><span id="minutes" class="timer">12</span>:<span id="seconds" class="timer" >00</span></div>
				<div class="column is-12 quarter" >QUARTER <span class="quarter" id="quarter-number">1</span></div>
				<div class="column timer-button">
					<i class="fa-solid fa-play" id="play-button" style="cursor:pointer" onclick="toggleTimer(this)"></i>
				</div>
			</div>
		</div>
		<div class="column">
			<h1 class="team-name right-team" style="text-align:left">{{team2.upper()}}</h1>
			<h2 class="score"><span id="team2-score" class="score">0</span><span class="fouls" id="team2-fouls">0</span></h2>
			{% for i in members_2 %}
				<div class="member-wrapper columns" style="padding : 0 !important" id="{{i}}">
					<div class="column is-1 right-team" style="padding : 0 !important">
						<p id="{{i}}-score" class="personal-stats">0</p>
						<p id="{{i}}-fouls" class="personal-stats foul-color" style="font-size: 0.9rem">0</p>
					</div>
					 <div class="column is-5" style="padding : 0 !important">
						<p class="members" onclick="manageMembers(this.textContent)">{{i}}</p>
					</div>
					<div class="to-left column " style="padding:0 !important">
						{% for i in possible_scores %}
						<span onclick="modify_for(this)">+{{i}}</span>
						{% endfor %}
						<span onclick="modify_for(this)" style="color:var(--primary)">+F</span>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<script src="/static/match.js"></script>
</body>